@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');

body, html {
  height: 100%;
  margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:25px;
    letter-spacing:-0.01em;
    font-weight:300;
    text-align:center;
    background-color:black;
}
.flyer-dev
{
    width:50%;
    margin:auto;
}

#content{
    margin:10%;
}
/* Style tab links */
.tablink {
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:first-of-type {
  border-top-left-radius:3px;
}

.tablink:last-of-type {
  border-top-right-radius:3px;
}

.tablink:hover {
    text-shadow:1px 1px 10px black;
}

.selected
{
    font-weight:600;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
border:2px solid black;
    border-radius:2px;
    opacity:1;
    transition:opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

.time
{
font-weight:600
}

.footer-elements{
    text-align:center;
}

#Home {}
#event1 {}
#event2 {}
#event3 {}
#event4 {}