@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700');


@keyframes logoAnimation {
0%{
    height:45vw;
}
100%{
    height:20vw;
}
}

@keyframes logoAnimationMobile {
0%{
    height:65vw;
}
100%{
    height:45vw;
}


}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: black;
    background-image: url(media/background-comp.jpg);
    background-size: cover;
    background-color: white;
    background-attachment:fixed;
    scroll-behavior:smooth;
}

#content-box{
    max-width:1280px;
    margin:auto;
}

button {
    padding: 0;
    background:none;
    border:none;
}

button:focus{
    outline: none;
    text-shadow:2px 2px 1px black;
}
h1,h2,h3,h4{
    text-transform:uppercase;
    letter-spacing:0.04em;
}

p{font-weight:200;}
a {
    text-decoration: none;
    color: #9A9070;
}

a:hover {
    color: #c0b591;
}

.flyer-dev {
    width: 50%;
    margin: auto;
}

#header {
    flex-basis:100%;
    padding-top:1em;
}

#header-squaring{
    text-align:center;
    align-items:center;
}

#header-logo {
    height:100%;
    transition:fill 0.3s ease;
    -webkit-transition:fill 0.3s ease;
   
}

#header-logo:hover path{
    fill:#a8a088 !important;
    transition:fill 1s ease;
    -webkit-transition:fill 1s ease;
}

.small-logo
{
    height:20vw;
    animation:logoAnimation;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
   /*transition:height 1s ease-in-out;
     -webkit-transition:height 1s ease-in-out;*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.big-logo{
    height:48vw;
    /*transition:height 1s ease-in-out;
    -webkit-transition:height 1s ease-in-out;*/
    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

#content {
    margin: 1% 5%;
       display:flex;
    flex-wrap:wrap;
}

.opacity-on{
    opacity:1 !important;
      transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

#defaultOpen {}

/* Style tab links */
.tablink {
    font-family: 'Teko', sans-serif;
    display:inline-block;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    flex-basis: 25%;
    width:25%;
    background-color: transparent;
    overflow-wrap:nowrap;
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tablink:hover{
    background-color:rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

.tablink:hover .sound-system-icon {
    filter: invert(1);
    -webkit-filter: invert(1);
    transition: filter 0.3s ease;
    -webkit-transition: filter 0.3s ease;
}

.menu-date {
    display: block;
    margin-top:5em;
    padding-top:0.2em;
}

.icon-squaring{
    position:absolute; 
    left:50%;
    top:15%;
}
.selected {
    font-weight: 600;
}

.selected .menu-date {
    background-color: rgba(0, 0, 0, 0.6);

}

.selected .sound-system-icon {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.sound-system-icon:hover {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.sound-system-icon {
    position: relative; 
    width: 5.5em;
    height: auto;
    top: 10%;
    left: -50%;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    height: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    flex-basis:100%;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
}

.content-title {
    flex-basis: 100%;
}

.content-text {
    order: 1;
    flex-basis: 50%;
    display:inline-block;
}
.content-buttons{
    
}

.content-pic {
    order:2;
    padding:2%;
    flex-basis:46%;
    display: inline-block;
    width: 100%;
}

.content-pic img {
    width: inherit;
    filter: invert(1);
    -webkit-filter: invert(1);
}

.facebook-button, .tickets-button {
    font-family: 'Teko', sans-serif;
    background-color: #2a2a2a;
    padding: 0.4em;
    border-radius: 0.2em;
    margin-right: 5px;
}

.facebook-button:hover, .tickets-button:hover {
    background-color: #4c4c4c;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
}

.content-artists {
    order: 4;
    font-weight: 500;
    flex-basis:100%;
}

.time {
    font-weight: 400
}

.ontime {
    font-weight: 200
}

.footer-elements {
    margin: 2% 6%;
    text-align: center;
}

.sponsors-logos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding:10vw 0;
    margin: 0 20%;
}

.squaring {
    width: 9.5%;
    padding: 5px 4, 5%;
    margin: 0 1%;
}

.squaring img {
    width: 100%;
    height: auto;
}

#impressum, #presse {
    text-align:left;
    font-size:1em;
   
    background-color: white;
    position: fixed;
    top: 0;
    display: block;
    z-index: 2;
    height:100%;
    width:50%;
    padding:2% 25%;
    overflow-y: scroll;
}

#impressum p, #presse p{
     font-weight:300 !important;
}

.close-button{
    float:right;
    font-size:2em;
    color: #9A9070;
    border:none;
    background:none;
    cursor:pointer;
}

.footer-button{
    margin:0.2em;
    font-size:1em;
    font-family: 'Teko', sans-serif;
    background-color: transparent;
    padding: 0.4em;
    color: #9A9070;
    border:none;
    cursor:pointer;
}

.footer-button:hover, .close-button:hover{
     color: #c0b591;
}

#Home {
    background-color: transparent !important;
}

#event1 {}

#event2 {}

#event3 {}

#event4 {}

@media screen and (max-device-width: 780px){
body{
        font-size:20px;
    }
    .header-logo {
    width: 30%;
    }
    #header a{
     background-color:transparent !important;
    }    
    
    .selected{
    background-color:black !important;
    }

 /*   .sound-system-icon {
    width: 5em;
}*/
    
    .content-text{
        flex-basis:100%;
        order:2;
    }
    .content-pic{
        flex-basis:100%;
        order:1;
    }
    .footer-elements{
        margin:1em;
    }

    .footer-button{
        margin:5px;
    }
    
}

@media screen and (max-device-width: 450px){

    .body{
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    }
    .tablink{
        font-size:1em;
        flex-basis:50%;
    } 

    h1, h2, h3, h4 {
    font-size: 1.5em;}

    p{
        font-size:16px;
    }

    .big-logo{
        height:65vw;
    }
    .small-logo{
        height:45vw;
    animation:logoAnimationMobile;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    }

    .squaring{
        margin: 0 2%;
        flex-basis:21%;
        width:100%;
    }

    .sponsors-logos{
        margin:0 15%;
    }


}